@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.education_module15 {
  background-color: #eeeeee !important;
}
.education_module15 .gray-bg {
  background-color: #f7f7f7;
}
.education_module15 .intro {
  width: 100%;
  text-align: left;
}
.education_module15 .intro h2 {
  font-size: 24px;
  font-weight: normal;
  color: #0f1521;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
}
.education_module15 .intro p {
  line-height: 30px;
}
.education_module15 .carousel-inner img {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  height: auto;
}
.education_module15 .carousel-inner {
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 15px #474747;
}
@media (max-width: 991px) and (min-width: 768px) {
  .education_module15 .col-md-6 {
    width: 50%;
    float: left;
  }
}
