@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.education_module16 {
  background-color: #eeeeee !important;
}
.education_module16 .faq {
  float: left;
  width: 100%;
  text-align: left;
}
.education_module16 .faq h2 {
  font-size: 30px;
  font-weight: normal;
  font-family: 'Crete Round', serif;
  text-transform: uppercase;
}
.education_module16 .faq .contain_cp_accor {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
.education_module16 .faq a:active {
  display: block !important;
}
.education_module16 .faq div.contain_cp_accor {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
.education_module16 .faq div.content_cp_accor {
  margin: 0;
  padding: 20px 40px;
  background-color: #FFF;
  line-height: 30px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.education_module16 .faq div.content_cp_accor p {
  margin: 0;
  padding: 3px;
}
.education_module16 .faq .accordion_cp {
  margin: 0px 0px 3px 0px;
  padding: 0px 20px 0px 60px;
  border-top: #f0f0f0 1px solid;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  float: left;
  width: 100%;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
}
.education_module16 .faq .accordion_cp p {
  display: inline-block;
  color: #333;
  margin: 0px;
  font-family: 'Crete Round', serif;
  font-size: 18px;
  text-transform: uppercase;
  margin: 14px 0px;
}
.education_module16 .faq .accordion_cp p:before {
  content: "\f013";
  font-family: FontAwesome;
  margin: 0px 10px 0px 0px;
}
.education_module16 .faq .accordion-open {
  background: #0f1521 !important;
  position: relative;
}
.education_module16 .faq .accordion-open span {
  background-color: #00a685;
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 15px 20px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.education_module16 .faq .accordion-open p {
  color: #fff;
}
.education_module16 .faq .accordion-close p {
  color: #333;
}
.education_module16 .faq .accordion-close span {
  background-color: #00a685;
  display: block;
  float: left;
  margin: 0px 10px 0px 0px;
  padding: 15px 20px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
}
.education_module16 .faq .accordion-close span i:before {
  content: "\f067";
}
