.type-7 contant section.gray-bg {
  background-color: #f7f7f7;
}
.type-7 .contant {
  float: left;
  width: 100%;
}
.type-7 .contant section {
  padding: 30px 0px;
  text-align: center;
  float: left;
  width: 100%;
  background-color: #fff;
}
.type-7 .contant .sec-header {
  float: left;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.type-7 .contant .sec-header h2 {
  font-size: 42px;
  color: #171717;
  line-height: 42px;
  margin: 0px 0px 20px 0px;
}
.type-7 .contant .sec-header p {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  position: relative;
}
.type-7 .contant .sec-header span {
  height: 10px;
  width: 10px;
  background-color: #aaaaaa;
  display: inline-block;
  transform: rotate(45deg);
}
.type-7 .gray-bg {
  background-color: #f7f7f7;
}
.type-7 .sec-header {
  float: left;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.type-7 .contant .sec-header h2 {
  font-size: 42px;
  color: #171717;
  line-height: 42px;
  margin: 0px 0px 20px 0px;
}
.type-7 .contant .sec-header p {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  position: relative;
}
.type-7 .contant .sec-header span {
  height: 10px;
  width: 10px;
  background-color: #aaaaaa;
  display: inline-block;
  transform: rotate(45deg);
}
.type-7 .features {
  float: left;
  width: 100%;
  margin: 0px 0px 30px 0px;
}
.type-7 .features i {
  font-size: 50px;
}
.type-7 .features h4 {
  font-size: 20px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
}
.type-7 .tabs {
  float: left;
  width: 100%;
  text-align: left;
}
.type-7 .tabs .nav {
  margin: 0px;
}
.type-7 .tabs .tab-content {
  background-color: #0f1521;
  padding: 20px;
}
.type-7 .tabs .tab-content {
  color: #fff;
}
.type-7 .tabs .nav-tabs>.active>a,
.type-7 .tabs .nav-tabs>.active>a:hover,
.type-7 .tabs .nav-tabs>.active>a:focus {
  background-color: #0f1521;
  border: none;
}
.type-7 .tabs .nav-tabs>li>a {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
  color: #333;
  border-radius: 0px;
  border: none;
}
.type-7 .message-box {
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  float: left;
  width: 100%;
  padding: 20px;
}
.type-7 .message-box h2 {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin: 0px;
  line-height: 24px;
}
.type-7 .message-box h4 {
  font-size: 18px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  font-weight: normal;
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .row {
    margin-left: 0;
  }
  [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
