.events-details {
  background-color: #eeeeee !important;
}
.events-details .page-heading {
  float: left;
  width: 100%;
  background-image: url('../images/page-heading-bg.jpg');
  background-size: cover;
  padding: 36px 0px;
  margin: 10px 0px 100px 0px;
}
.events-details .page-heading h2 {
  color: #fff;
  font-size: 21px;
  margin: 0px;
  font-weight: bold;
}
.events-details .page-heading p {
  color: #fff;
  margin: 0px;
  padding-top: 5px;
}
