@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.education_module9 {
  background-color: #eeeeee !important;
}
.education_module9 .buttons {
  float: left;
  width: 100%;
  margin: 40px 0px;
  text-align: center;
}
.education_module9 .btn1 {
  background-color: #617bb3;
}
.education_module9 .btn2 {
  background-color: #e2452b;
}
.education_module9 .btn3 {
  background-color: #a549a8;
}
.education_module9 .btn4 {
  background-color: #008ccb;
}
.education_module9 .btn5 {
  background-color: #0f5eb5;
}
.education_module9 .login-btn {
  display: inline-block;
  padding: 7px 16px;
  background-image: none;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  min-width: 210px;
}
.education_module9 .login-btn i {
  margin: 0px 10px 0px 0px;
  font-size: 18px;
}
