.type-8 .contant {
  float: left;
  width: 100%;
}
.type-8 .contant section {
  padding: 30px 0px;
  text-align: center;
  float: left;
  width: 100%;
  background-color: #fff;
}
.type-8 .contant .sec-header {
  float: left;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.type-8 .contant .sec-header h2 {
  font-size: 42px;
  color: #171717;
  line-height: 42px;
  margin: 0px 0px 20px 0px;
}
.type-8 .contant .sec-header p {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  position: relative;
}
.type-8 .contant .sec-header span {
  height: 10px;
  width: 10px;
  background-color: #aaaaaa;
  display: inline-block;
  transform: rotate(45deg);
}
.type-8 .sec-header {
  float: left;
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.type-8 .contant .sec-header h2 {
  font-size: 42px;
  color: #171717;
  line-height: 42px;
  margin: 0px 0px 20px 0px;
}
.type-8 .contant .sec-header p {
  font-size: 24px;
  font-family: 'Crete Round', serif;
  font-style: italic;
  position: relative;
}
.type-8 .contant .sec-header span {
  height: 10px;
  width: 10px;
  background-color: #aaaaaa;
  display: inline-block;
  transform: rotate(45deg);
}
.type-8 .skills {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0px 40px 0px;
}
.type-8 .skills h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin: 0px;
  line-height: 22px;
}
.type-8 .our-skills {
  float: left;
  width: 100%;
  text-align: left;
}
.type-8 .our-skills h3 {
  font-size: 18px;
  color: #333;
  margin: 0px 0px 10px 0px;
  line-height: 22px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  text-transform: uppercase;
}
.type-8 .our-skills .progress .bar {
  background-image: none;
}
.type-8 .our-skills .progress {
  border-radius: 0px;
  box-shadow: none;
  background-color: #ededed;
  height: 40px;
}
.type-8 .skills {
  float: left;
  width: 100%;
  text-align: center;
  margin: 20px 0px 40px 0px;
}
.type-8 .skills h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  margin: 0px;
  line-height: 22px;
}
.type-8 .our-skills {
  float: left;
  width: 100%;
  text-align: left;
}
.type-8 .our-skills h3 {
  font-size: 18px;
  color: #333;
  margin: 0px 0px 10px 0px;
  line-height: 22px;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  text-transform: uppercase;
}
.type-8 .our-skills .progress .bar {
  background-image: none;
}
.type-8 .our-skills .progress {
  border-radius: 0px;
  box-shadow: none;
  background-color: #ededed;
  height: 40px;
}
.type-8 .list-style1,
.type-8 .list-style2 {
  float: left;
  width: 100%;
  list-style: none;
}
.type-8 .list-style1 li,
.type-8 .list-style2 li {
  float: left;
  width: 100%;
  padding: 5px 5px 5px 20px;
  position: relative;
}
.type-8 .list-style1 li:before,
.type-8 .list-style2 li:before {
  content: "\f101";
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  font-size: 18px;
}
.type-8 .list-style2 li:before {
  content: "\f00c";
  font-size: 16px;
}
.type-8 .list-style1 li a,
.type-8 .list-style2 li a {
  color: #333;
}
.type-8 .list-style2 {
  float: left;
  width: 100%;
  list-style: none;
}
.type-8 .list-style1 li,
.type-8 .list-style2 li {
  float: left;
  width: 100%;
  padding: 5px 5px 5px 20px;
  position: relative;
}
.type-8 .list-style1 li:before,
.type-8 .list-style2 li:before {
  content: "\f101";
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  font-size: 18px;
}
.type-8 .list-style2 li:before {
  content: "\f00c";
  font-size: 16px;
}
.type-8 .list-style1 li a,
.type-8 .list-style2 li a {
  color: #333;
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  .row {
    margin-left: 0;
  }
  [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }
  .container {
    padding: 0px 20px;
  }
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
