@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin1.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local('Crete Round'), local('CreteRound-Regular'), url(../fonts/latin2.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin3.woff2) format('woff2');
}
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  src: local('Crete Round Italic'), local('CreteRound-Italic'), url(../fonts/latin4.woff2) format('woff2');
}
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.education_module8 {
  background-color: #eeeeee !important;
}
.education_module8 .form-box {
  border-color: #00a685 !important;
  background-color: #fbfbfb;
  border-radius: 5px;
  border-top: solid 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  float: left;
  width: 100%;
  min-height: 560px;
  margin: 0px 0px 30px 0px;
}
.education_module8 .form-box .form-body {
  margin: 0px;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 4px 3px -2px rgba(0,0,0,0.1);
  position: relative;
  z-index: 10;
}
.education_module8 .form-box h2 {
  font-family: 'Crete Round', serif;
  color: #222222;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: normal;
}
.education_module8 .form-box .row-fluid {
  width: 100%;
}
.education_module8 .form-box .row-fluid:before,
.education_module8 .form-box .row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}
.education_module8 .form-box .input-block-level {
  width: 100%;
  box-sizing: border-box;
}
.education_module8 .form-box form-box form input,
.education_module8 .form-box .form-box form select {
  min-height: 40px;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.education_module8 .form-box .row-fluid [class*="span"] {
  display: block;
  float: left;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.education_module8 .form-box label,
.education_module8 .form-box input,
.education_module8 .form-box button,
.education_module8 .form-box select,
.education_module8 .form-box textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
.education_module8 .form-box form input,
.education_module8 .form-box form select,
.education_module8 .form-box textarea {
  min-height: 40px;
}
.education_module8 .form-box select,
.education_module8 .form-box textarea,
.education_module8 .form-box input[type="text"] {
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.education_module8 .form-box input[type="text"]:focus,
.education_module8 .form-box textArea:focus {
  border-color: #00a685;
}
.education_module8 .form-box select:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.education_module8 .form-box .footer {
  padding: 30px;
  float: left;
  width: 100%;
  background-color: #fbfbfb;
  position: relative;
}
.education_module8 .form-box .footer textarea {
  resize: none;
  height: auto;
}
.education_module8 .form-box .col-md-6,
.education_module8 .form-box .col-md-12 {
  padding-left: 0px;
}
.education_module8 .form-box .btn-style {
  margin-right: 15px;
  float: right;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  background-color: #00a685;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
